.resetContainer {
  padding-top: 20px;
  width: 400px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.resetTitle {
  font-size: 60px;
}

.resetForm {
  text-align: left;
}

.resetButtonContainer {
  text-align: center;
}

@media only screen and (max-width: 728px) {
  .resetTitle {
    font-size: 40px;
  }
}
