.note-leaf {
  height: 320px;
  width: 350px;
  background-color: #dcdcdc;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 0 7px rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.note-header {
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-body {
  padding-top: 0px;
  height: 230px;
}

.note-text {
  padding-top: 5px;
  border-top: 1px solid;
  border-color: #696969;
  height: 220px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

.note,
.note-title {
  border: none;
  resize: none;
}

textarea:focus,
.note-title:focus {
  outline: none;
}

.note-footer {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

small {
  font-style: italic;
  color: #696969;
}

.delete-icon,
.delete-icon:hover {
  color: red;
  cursor: pointer;
}

.edit-icon,
.edit-icon:hover {
  color: green;
  cursor: pointer;
}
